<template>
  <section>
    <h2>Adicionar Produto</h2>
    <ProdutoAdicionar />
    <h2>Seus produtos</h2>
    <transition-group tag="ul" name="list" v-if="usuario_produtos">
      <li v-for="(produto,index) in usuario_produtos" :key="index">
        <ProdutoItem :produto="produto">
          <p>{{produto.descricao}}</p>
          <button class="deletar" @click="deletarProduto(produto.id)">Deletar</button>
        </ProdutoItem>
      </li>
    </transition-group>
  </section>
</template>

<script>

import ProdutoAdicionar from '@/components/ProdutoAdicionar.vue'
import ProdutoItem from '@/components/ProdutoItem.vue'
import { mapState, mapActions } from "vuex"
import { ApiService } from "@/common/api.service.js";
export default {
  name: "UsuarioProdutos",
  components: {
    ProdutoAdicionar,
    ProdutoItem
  },
  computed: {
    // ...mapState(["login","usuario","usuario_produtos"])
    ...mapState('user',["login","usuario","usuario_produtos"])
  },
  methods: {
    ...mapActions('user',["getUsuarioProdutos"]),
    deletarProduto(id) {
      const confirm = window.confirm("Deseja remover este produto ?")
      if (confirm) {
        ApiService.delete(`/produto/${id}`)
        .then(() => {
          this.getUsuarioProdutos()
        })
      }
    }
  },
  watch: {
    login() {
      this.getUsuarioProdutos()
    }
  },
  created() {
    document.title = "Usuario"
    if (this.login) {
      this.getUsuarioProdutos()
    }
  }
}
</script>

<style scoped>

  .list-enter,
  .list-leave-to {
    opacity: 0;
    transform: translate3d(20px,0 ,0);
  }

  .list-enter-active,
  .list-leave-active {
    transition: all .3s;
  }

  .deletar {
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
    background: url("../../assets/remove.svg") no-repeat center center;
    width: 24px;
    height: 24px;
    text-indent: -140px;
    overflow: hidden;
    border: none; 
  }
</style>
