<template>
  <section>
    <div v-if="compras">
      <h2>Compras</h2>
      <div class="produtos-wrapper" v-for="(compra, index) in compras" :key="index">
        <ProdutoItem v-if="compra.produto" :produto="compra.produto">
          <p class="vendedor">
            <span>Vendedor:</span>
            {{ compra.vendedor_id }}
          </p>
        </ProdutoItem>
      </div>
    </div>
  </section>
</template>

<script>
import ProdutoItem from "@/components/ProdutoItem.vue";
import { ApiService } from "@/common/api.service.js";
import { mapState } from "vuex";

export default {
  name: "UsuarioCompras",
  data() {
    return {
      compras: null
    };
  },
  components: {
    ProdutoItem
  },
  computed: {
    ...mapState("user", ["usuario", "login"])
  },
  watch: {
    login() {
      this.getCompras();
    }
  },
  methods: {
    getCompras() {
      ApiService.get(`/transacao?comprador_id=${this.usuario.id}`).then(res => {
        this.compras = res.data;
      });
    }
  },
  created() {
    document.title = "Usuario | Compras"
    if (this.login) {
      this.getCompras();
    }
  }
};
</script>

<style scoped>

.produto-wrapper {
    margin-bottom: 40px;
}

.vendedor span {
    color: #e80;
}

h2 {
    margin-bottom: 20px;
}

</style>
