<template>
  <section>
    <div v-if="produto" class="produto">
      <ul class="fotos" v-if="produto.fotos">
        <li v-for="(foto,index) in produto.fotos" :key="index">
          <img :src="foto.src" :alt="foto.titulo">
        </li>
      </ul>
      <div class="info">
        <h1>{{produto.nome}}</h1>
        <p class="preco"> {{produto.preco | numeroPreco }}</p>
        <p class="descricao">{{produto.descricao}}</p>
        <transition v-if="produto.vendido === 'false'" mode="out-in">
          <button class="btn" v-if="!finalizar" @click="finalizar = true">Comprar</button>
          <FinalizarCompra  v-else :produto="produto"/>
        </transition>
        <button v-else class="btn btn-disabled" disabled>Produto Vendido</button>
      </div>
    </div>
    <div v-else>
      <PaginaCarregando />
    </div>
  </section>
</template>

<script>

import { ApiService } from "@/common/api.service.js";
import FinalizarCompra from "@/components/FinalizarCompra.vue";
export default {
  name: "Produto",
  props: ["id"],
  data() {
    return {
      produto: null,
      finalizar: false
    }
  },
  components: {
    FinalizarCompra
  },
  methods: {
    getProduto() {
      ApiService.get(`/produto/${this.id}`)
      .then(Response => {
        this.produto = Response.data
        document.title = this.produto.nome
      })
    }
  },
  created() {
    this.getProduto()
  }
}
</script>

<style scoped>
  .produto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 900px;
    padding: 60px 20px;
    margin: 0 auto;
  }

  @media screen and (max-width: 500px) {
    .produto {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .fotos {
      grid-row: 2;
    }
  }


  .preco {
    color: #e80;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  .descricao {
    font-size: 1.2rem;
  }

  .btn {
    margin-top: 60px;
    width: 200px;
  }

</style>
