<template>
  <section class="finalizar-compra">
    <h2>Endereço de envio</h2>
    <ErroNotificacao :erros="erros" />
    <UsuarioForm>
      <button class="btn" @click.prevent="finalizarCompra">Finalizar Compra</button>
    </UsuarioForm>
  </section>
</template>

<script>
import UsuarioForm from "@/components/UsuarioForm.vue";
import { ApiService } from "@/common/api.service.js";
import { mapState } from "vuex";

export default {
  name: "FinalizarCompra",
  props: ["produto"],
  components: {
    UsuarioForm
  },
  data() {
    return {
      erros: []
    };
  },
  computed: {
    ...mapState("user", ["usuario"]),
    compra() {
      return {
        comprador_id: this.usuario.email,
        vendedor_id: this.produto.usuario_id,
        produto: this.produto,
        endereco: {
          cep: this.usuario.cep,
          rua: this.usuario.rua,
          numero: this.usuario.numero,
          bairro: this.usuario.bairro,
          cidade: this.usuario.cidade,
          estado: this.usuario.estado
        }
      };
    }
  },
  methods: {
    criarTransacao() {
      this.produto.vendido = "true";
      return ApiService.post("/transacao", this.compra).then(() => {
        this.$router.push({ name: "UsuarioCompras" });
      }).catch(error => {
        this.erros.push(error.response.data.message)
      });
    },
    finalizarCompra() {
      this.erros = []
      if (this.$store.state.user.login) {
        this.criarTransacao();
      } else {
        this.criarUsuario();
      }
    },
    async criarUsuario() {
      this.erros = []
      try {
        await this.$store.dispatch("user/createUser", this.$store.state.user.usuario);
        await this.$store.dispatch("user/loginUser", this.$store.state.user.usuario);
        await this.$store.dispatch("user/getUsuario");
        await this.criarTransacao();
      } catch (error) {
        this.erros.push(error.response.data.message)
      }
    }
  }
};
</script>

<style scoped>
.finalizar-compra {
  margin-top: 30px;
}

.finalizar-compra > h2 {
  margin-bottom: 40px;
}

.btn {
  background-color: #e80;
}
</style>
