<template>
  <div class="produto" v-if="produto">
    <router-link :to="{name: 'produto', params: {id: produto.id}}">
      <img class="produto_img" v-if="produto.fotos" :src="produto.fotos[0].src" :alt="produto.fotos[0].titulo">
      </router-link>
    <div class="info">
      <p class="preco">{{produto.preco | numeroPreco}}</p>
      <h2>{{produto.nome}}</h2>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProdutoItem",
  props: ["produto"]
}
</script>

<style scoped>
  .produto {
    display: grid;
    grid-template-columns: minmax(100px, 200px) 1fr;
    grid-gap: 20px;
    margin-bottom: 40px;
    position: relative;
  }

  @media screen and (max-width: 500px) {
    .produto {
      display: grid;
      grid-template-columns: repeat 1fr;
      grid-gap: 10px;
    }
  }

  .info {
    align-self: end;
  }
  .produto_img {
    border-radius: 4px;
    overflow: hidden;
    height: 100px;
  }
</style>
