<template>
  <form>
    <div class="loading-center" v-if="carregando">
      <PaginaCarregando />
    </div>
    <div class="usuario" v-if="mostrarDadosLogin">
      <label for="name">Nome</label>
      <input type="text" name="nome" id="nome" v-model="nome" />
      <label for="email">email</label>
      <input type="email" name="email" id="email" v-model="email" />
      <label for="senha">senha</label>
      <input type="password" name="senha" id="senha" v-model="senha" />
    </div><!-- dados-login -->
    <label for="cep">Cep</label>
    <input type="text" name="cep" id="cep" v-model="cep" @keyup="fetchCep()" />
    <label for="rua">Rua</label>
    <input type="text" name="rua" id="rua" v-model="rua" />
    <label for="numero">Numero</label>
    <input type="text" name="numero" id="numero" v-model="numero" />
    <label for="bairro">Bairro</label>
    <input type="text" name="bairro" id="bairro" v-model="bairro" />
    <label for="cidade">Cidade</label>
    <input type="text" name="cidade" id="cidade" v-model="cidade" />
    <label for="estado">Estado</label>
    <input type="text" name="estado" id="estado" v-model="estado" />
    <div class="button">
      <slot></slot>
    </div>
  </form>
</template>

<script>
import { mapFields } from "@/common/helpers.js";
import { getCep } from "@/common/api.service.js";
export default {
  name: "UsuarioForm",
  data() {
    return {
      carregando: false
    };
  },
  computed: {
    ...mapFields({
      fields: [
        "nome",
        "email",
        "senha",
        "cep",
        "rua",
        "numero",
        "bairro",
        "cidade",
        "estado"
      ],
      base: "usuario",
      mutation: "updateUsuario",
      namespace: "user",
      module: "user"
    }),
    mostrarDadosLogin() {
      return (!this.$store.state.user.login|| (this.$route.name === 'UsuarioEditar'))
    }
  },
  methods: {
    fetchCep() {
      const cep = this.cep.replace(/\D/g, "");
      if (cep.length === 8) {
        this.carregando = true;
        getCep(cep).then(response => {
          setTimeout(() => {
            this.rua = response.data.logradouro;
            this.bairro = response.data.bairro;
            this.cidade = response.data.localidade;
            this.estado = response.data.uf;
            this.carregando = false;
          }, 500);
        });
      }
    }
  }
};
</script>

<style scoped>
.loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
form,
.usuario{
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
}

.usuario {
  grid-column: 1 / 3;
}

.button {
  grid-column: 2;
}

.button {
  width: 100%;
}

.button button {
  max-width: 100%;
}
</style>
